=== application info ===

Version: 8.16 (816)

APK Hash: f8254e318ed2bb532d9653595b86bd848a5c9ec37da9c2c81f02dcf9a902216c

Package: de.schildbach.wallet

Flavor: prod

Build Type: release

Installer: Google Play (com.android.vending)

Timezone: Asia/Ho_Chi_Minh

Current time: 2021-08-31 15:37:24 UTC

Time of app launch: 2021-08-31 15:36:03 UTC

Time of first app install: 2021-02-21 10:46:48 UTC

Time of last app update: 2021-08-04 23:25:05 UTC

Time of last backup: 2021-08-16 08:28:58 UTC

Time of last restore: 2021-08-16 08:28:58 UTC

Time of last encrypt keys: none

Time of last blockchain reset: 2021-08-31 15:36:33 UTC

Network: org.bitcoin.production

Sync mode: FULL

Encrypted: false

Keychain size: 540

Transactions: 0

Inputs: 0

Outputs: 0 (spent: 0)

Last block seen: 687574 (2021-06-14T17:33:18Z)

Best chain height ever: 698427

Databases: address_book address_book-wal address_book-shm exchange_rates exchange_rates-wal exchange_rates-shm

Contents of FilesDir /data/user/0/de.schildbach.wallet/files:

2021-08-31 15:37:23        3 kB  files

  - 2021-08-31 05:56:25        3 kB  log

  -   - 2021-08-31 15:37:23       67 kB  wallet.log

  -   - 2021-08-28 02:32:42       18 kB  wallet.2021-08-27.log.gz

  -   - 2021-08-30 04:46:14       16 kB  wallet.2021-08-29.log.gz

  -   - 2021-08-29 09:11:52        7 kB  wallet.2021-08-28.log.gz

  -   - 2021-08-31 05:56:25        0 kB  wallet.2021-08-30.log.gz

  -   - 2021-08-25 07:43:35        8 kB  wallet.2021-08-24.log.gz

  -   - 2021-08-26 00:41:10        6 kB  wallet.2021-08-25.log.gz

  -   - 2021-08-27 02:25:20        2 kB  wallet.2021-08-26.log.gz

  - 2021-08-16 08:28:58       45 kB  key-backup-protobuf

  - 2021-08-31 15:37:23       45 kB  wallet-protobuf

  - 2021-07-27 22:42:12        0 kB  fees.txt

free/usable space: 774736/643664 kB
=== device info ===

Manufacturer: vivo

Device Model: vivo 1933

Android Version: 11 (30)

Android security patch level: 2021-03-01

ABIs: arm64-v8a, armeabi-v7a, armeabi

Board: sdm710

Brand: vivo

Device: 1933

Product: 1933

Configuration: {1.1 452mcc2mnc [vi_VN] ldltr sw360dp w360dp h717dp 480dpi nrml long hdr widecg port finger -keyb/v/h -nav/h winConfig={ mBounds=Rect(0, 0 - 1080, 2400) mAppBounds=Rect(0, 123 - 1080, 2274) mWindowingMode=fullscreen mDisplayWindowingMode=fullscreen mActivityType=standard mAlwaysOnTop=undefined mRotation=ROTATION_0} s.1 themeId=34 nightModeLevel = -1}

Screen Layout: size 2 long 32 layoutdir 64 round 256

Display Metrics: DisplayMetrics{density=3.0, width=1080, height=2151, scaledDensity=3.3000002, xdpi=409.432, ydpi=409.127}

Memory Class: 256/512

Storage Encryption Status: 5

Bluetooth MAC: null

Runtime: Dalvik 2.1.0

Wallet

Balances:

  0.00 BTC ESTIMATED

  0.00 BTC AVAILABLE

  0.00 BTC ESTIMATED_SPENDABLE

  0.00 BTC AVAILABLE_SPENDABLE

Transactions:

  0 pending

  0 unspent

  0 spent

  0 dead

Last seen best block: 687574 (2021-06-14T17:33:18Z): 0000000000000000000453cfa1680ff347438c3f2f5794ad2cab0b1a1d7a10a4

Keys:

Earliest creation time: 2021-08-15T06:07:40Z

Seed birthday:     1629007660  [2021-08-15T06:07:40Z]

Ouput script type: P2PKH

Key to watch:      xpub69Z6exaF8Mb9i425qtDdysNWwyjrARiFuf2V1HdJHZMtsRQMzBv5zfkZt8sakBFwVkf61AXC9gbGjPD3bcBiFBrXwhnF5DqEFaVhxM6voNg

Lookahead siz/thr: 100/33

  addr:1Mf8cQRYSVrB21dzj2r5AMeuaMBVhfYAxV  hash160:e298acd1b49f411713fe1a3b9b76b3d0f6bb2b3a  (M, root)

  addr:14RBN461T7sgyEeo7ZkffD61RBQGdJmESS  hash160:257b02d22ff54e1ff914ae16989a0c0cf810013a  (M/0H, account)

  addr:1JugRHRPJEoxPJRoEjPyXZaU84fiqwvM7o  hash160:c470ac634114b5be2da7af9e2eca55f623f4de64  (M/0H/0, external)

  addr:149jwP57bJYLLf5CtCaobKq1W4dmw2UPkB  hash160:228f8c2bed48a40865d78ff4c75ed8287471cb46  (M/0H/1, internal)

Seed birthday:     1629007660  [2021-08-15T06:07:40Z]

Ouput script type: P2WPKH

Key to watch:      zpub6oDdGHv5Rig7VHcnEBeqUoLn5o7WHL67B9MKXWYHvEdjnAH7pk3PiwWLAJ7waxtuKoTR8vVX19QyKQsSZ1AApL5j1mYivZFdZh2MRURonA5

Lookahead siz/thr: 100/33

  addr:bc1qu2v2e5d5naq3wyl7rgaeka4n6rmtk2e6qp48c4  hash160:e298acd1b49f411713fe1a3b9b76b3d0f6bb2b3a  (M, root)

  addr:bc1qsgv5p5rtn0l54ew0uuus8nf05skpnaghvxh0s0  hash160:821940d06b9bff4ae5cfe73903cd2fa42c19f517  (M/1H, account)

  addr:bc1q9028kvme4ph06nr3awsdysh5vplumgj0w9xf2m  hash160:2bd47b3379a86efd4c71eba0d242f4607fcda24f  (M/1H/0, external)

  addr:bc1qjm9exug9w4rd0rqffjy3xrnhpz6zecehsdlvkj  hash160:96cb9371057546d78c094c89130e7708b42ce337  (M/1H/1, internal)

  addr:bc1qq6w0u8s5khu36xfdj4ahg295targtycd7k2hf8  hash160:069cfe1e14b5f91d192d957b7428b45f4685930d  (M/1H/0/0)

  addr:bc1qqcsar25zn5qsynymym8dfehe6y5c56rnh8shz3  hash160:0621d1aa829d01024c9b26ced4e6f9d1298a6873  (M/1H/0/1)
  
  # Author: THONG NGO 
    E-mail: quangthong1011@gmail.com
